<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <a>WELCOME: <%=email%> </a>
  <% include ./partials/_header %>

    <table style="width:100%">
      <thead>
        <tr>
          <th>ShortURL</th>
          <th>URL</th>
          <th>Edit URL</th>
        </tr>
      </thead>
      <tbody>
          <% if (email) { %>
          <tr>
            <td><%=shortURL%></td>
            <td><%=URL%></td>
            <td>
              <form action="/urls/<%=shortURL%>" method="POST" style="margin:50px;">
              <label for="longURL"> Edit URL:</label>
              <input id="longURL" type="text" name="longURL" placeholder=<%=URL%> style="width: 300px">
              <input type="submit" value="Edit">
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <form method="GET" action="/urls/new">
        <input type="submit" input value="Add URL">
    </form>
</body>
</html>
