<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <a>WELCOME: <%=email%></a>
  <% include ./partials/_header %>
  <a>Link for shortening URLs</a>


    <table style="width:100%">
      <thead>
        <tr>
          <th>ShortURL</th>
          <th>URL</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>

        <% for (let shortURL in urls) { %>
          <tr>
            <td><%=shortURL%></td>
            <td><a href="<%=urls[shortURL]%>"><%=urls[shortURL]%></a></td>
            <% if (email) { %>
            <td><form method="POST" action="/urls/<%=shortURL%>/delete">
                <input type="submit" input value="Delete">
                </form>
            </td>
          </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
    <form method="GET" action="/urls/new">
        <input type="submit" input value="Add URL">
    </form>
</body>
</html>
